h1 {
    color: #FFFFFF;
}
h2 {
    color: #FFFFFF;
}

header {
    width: 1363px;
    height: 47;

}
.interface {
    
    height: auto;
}
.img-container1 {
   text-align: left;
}
.img-container2 {
   text-align: right;
   color: #FFFFFF;
}
.img-container3 {
   text-align: right;
   color: #FFFFFF;
}