/* Estilo Geral */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #030f26;
  color: #f2f2f2;
  width: 100vw;
}

/* Estilo Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header img {
  width: 300px;
  margin-left: 50px;
  padding: 20px 0px;
}

header div {
  padding: 20px;
}

#select-languages {
  width: 100px;
  height: 50px;
  background-color: transparent;
  color: #f2f2f2;
  border-radius: 5px;
}

#select-languages option {
  backdrop-filter: #f7f7f7;
  color: #030f26;
}

#btn-login {
  width: 100px;
  height: 50px;
  margin-left: 10px;
  background-color: #d93250;
  color: #f2f2f2;
  border-radius: 5px;
  transition: 0.5s;
}

#btn-login:hover {
  cursor: pointer;
  background-color: #732743;
  border: 2px solid #f2f2f2;
}

main {
  min-width: 950px;
  height: 495px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding: 40px;
}

h3 {
  font-weight: 400;
  font-size: 24px;
}

.form-container {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 150px;
}

.form-invitation {
  font-weight: 400;
  font-size: 18px;
}

.form-container-email {
  display: flex;
  justify-content: center;
  align-items: center;
}

#input-email {
  width: 450px;
  font-size: 20px;
  padding: 0.5rem 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn {
  width: 150px;
  height: 50px;
  border-style: none;
  border-radius: 6px;
  background-color: #d93250;
  color: #f2f2f2;
  font-size: 16px;
  transition: 0.5s;
}

.btn:hover {
  cursor: pointer;
  background-color: #732743;
  border: 2px solid #f2f2f2;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}

footer img {
  width: 10rem;
}

@media (max-width: 375px) {
  header img {
    width: 100px;
    margin-left: 20px;
    padding: 20px 0px;
  }

  header div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 20px;
  }

  #select-languages {
    width: 120px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
  }
  #btn-login {
    width: 120px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
  }
}
