/* Estilo Geral */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #030f26;
  color: #f2f2f2;
}

/* Estilo Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header img {
  width: 100%;
  max-width: 300px;
}

#select-languages {
  width: 150px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  color: #f2f2f2;
  border-radius: 6px;
  padding: 0px 10px;
}

#select-languages option {
  backdrop-filter: #f7f7f7;
  color: #030f26;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 200px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-size: 60px;
}

h3 {
  font-size: 36px;
}

.form-container {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 150px;
}

.form-container-email {
  display: flex;
  justify-content: center;
  align-items: center;
}

#input-email {
  width: 100%;
  font-size: 20px;
  padding: 0.5rem 1rem;
}

.form-container-password {
  display: flex;
  justify-content: center;
  align-items: center;
}

#input-password {
  width: 100%;
  font-size: 20px;
  padding: 0.5rem 1rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 160px;
  height: 40px;
  border-style: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  background-color: #d93250;
  color: #f2f2f2;
  font-size: 16px;
  transition: 0.5s;
}

.btn:hover {
  cursor: pointer;
  background-color: #732743;
  border: 1px solid #f2f2f2;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

footer img {
  width: 200px;
}

/* Tela para Smartphone - Tablet */
@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  header img {
    width: 200px;
    margin-bottom: 10px;
  }

  #select-languages {
    width: 100px;
    height: 40px;
    font-size: 12px;
  }

  main {
    width: 100%;
    margin: 0px;
    padding: 10px;
  }

  h1 {
    font-size: 36px;
    font-weight: 600;
    padding: 20px;
  }

  h3 {
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 18px;
    padding: 0px;
  }

  form {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  h4 {
    font-weight: 400;
    font-size: 18px;
  }

  #input-email,
  #input-password {
    width: 100%;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 6px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .btn {
    width: 100px;
    height: 40px;
    font-size: 12px;
    font-weight: bold;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  footer img {
    width: 150px;
  }
}

@media (max-width: 400px) {
  #input-email,
  #input-password {
    width: 100%;
  }
}
