* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #000;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.interface a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
}

.interface img {
  max-width: 200px;
}

.imagem_fundo {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.formulario_cadastro {
  display: flex;
  align-items: center;
  color: #ffffff;
  position: absolute;
  top: 500px;
  left: 500px;
}

.cadastre-se {
  color: white;
  position: absolute;
  top: 450px;
  left: 500px;
}
.btn_cadastro {
  width: 200px;
  margin: 0 auto;
  background-color: red;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

input {
  background-color: transparent;
  opacity: 80%;
  color: white;
  border: solid;
  border-color: #000000;
  width: 350px;
  right: 150px;
}

.img_footer div {
  max-width: 100px;
}
